# absl-py @ file:///C:/ci/absl-py_1600290345082/work
appdirs==1.4.4
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
blinker==1.4
brotlipy==0.7.0
# cachetools @ file:///tmp/build/80754af9/cachetools_1596822027882/work
certifi==2020.6.20
# cffi @ file:///C:/ci/cffi_1600699250966/work
chardet==3.0.4
click==7.1.2
colorama==0.4.3
# cryptography @ file:///C:/ci/cryptography_1598873979408/work
cycler==0.10.0
DateTime==4.3
fs==2.4.11
gast==0.3.3
# google-auth @ file:///tmp/build/80754af9/google-auth_1600274525154/work
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
# grpcio @ file:///C:/ci/grpcio_1597406403308/work
h5py==2.10.0
# idna @ file:///tmp/build/80754af9/idna_1593446292537/work
# -e git+https://github.com/qut-dmrc/ImageMachine.git@7b02ac13bedb18999c539a00d7093a187696d9de#egg=imagemachine&subdirectory=ml
# importlib-metadata @ file:///C:/ci/importlib-metadata_1593446525189/work
isort==5.5.3
Keras==2.4.3
# Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
pandas==1.1.2
# Pillow @ file:///C:/ci/pillow_1594298234712/work
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
# pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyJWT==1.7.1
pylint==2.6.0
# pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyreadline==2.1
# PySocks @ file:///C:/ci/pysocks_1594394709107/work
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
# requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
# rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
scipy==1.4.1
six==1.15.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
toml==0.10.1
tornado==6.0.4
typed-ast==1.4.1
# urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
Werkzeug==0.16.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
zope.interface==5.1.0
